<footer class="filled-darkblue text-light py-5">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-12 d-flex justify-content-center">
        <a href="https://www.facebook.com/di.arze?mibextid=ZbWKwL" style="text-decoration: none;">
          <img
            alt="facebook-logo"
            src="/assets/Logo and social media icons/facebook-logo.png"
            class="mx-2"
          />
        </a>
        <a href="https://twitter.com/miskibros" style="text-decoration: none;">
          <img
            alt="twitter-logo"
            src="/assets/Logo and social media icons/twitter-logo.png"
            class="mx-2"
          />
        </a>
        <a href="https://www.instagram.com/alexnicholsonb/" style="text-decoration: none;">
          <img
            alt="instagram-logo"
            src="/assets/Logo and social media icons/instagram-logo.png"
            class="mx-2"
          />
        </a>
        <a href="https://pin.it/2yyPeDG" style="text-decoration: none;">
          <img
            alt="pinterest-logo"
            src="/assets/Logo and social media icons/pinterest-logo.png"
            class="mx-2"
          />
        </a>
        <a href="https://call.whatsapp.com/voice/lvI8dRbGZWyVxTYNK8VdcB" style="text-decoration: none;">
          <img
            alt="whatsapp-logo"
            src="/assets/Logo and social media icons/whatsapp-logo.png"
            class="mx-2"
          />
        </a>
      </div>
      <div class="col-md-8">
        <div class="filled-pink my-3" style="height: 2px"></div>
        <h5 class="text-center font-weight-bold text-white">Privacy policy / Terms of use</h5>
    </div>
  </div>
</footer>