<div class="sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark filled-darkblue">
    <div class="container-fluid justify-content-between">
      <!-- menu icon on the left -->
      <div class="col-5 d-flex justify-content-start">
        <a
          class="nav-link dropdown-toggle text-white"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="/assets/Logo and social media icons/menuIcon.png" />
          <span class="mx-3">MENU</span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/profile">PROFILE</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/brands">BRANDS</a></li>
          <li><a class="dropdown-item" href="#">COLORS</a></li>
          <li><a class="dropdown-item" href="#">STYLES</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/snapshots">SNAPSHOTS</a></li>
          <li><a class="dropdown-item" href="/trending">TRENDING</a></li>
        </ul>
      </div>

      <!-- logo in the middle -->
      <div class="col-2 d-flex justify-content-center p-0">
        <a
          class="navbar-brand p-0 m-0 w-100 d-flex justify-content-center"
          href="/"
        >
          <img
            alt="Fanshionlogoinblue"
            src="/assets/Logo and social media icons/Fanshion logo in blue.png"
            height="48"
            class=""
          />
        </a>
      </div>

      <!-- menu list on the right -->
      <div class="col-5 d-flex justify-content-end">
        <ul class="navbar-nav" id="navbarRight">
          <li class="nav-item order-lg-2">
            <a class="nav-link text-white" href="/login">LOG IN</a>
          </li>

          <li class="nav-item order-lg-1">
            <a class="nav-link text-white" href="/sign-up">REGISTER</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="progress">
    <div
      id="progress-bar"
      class="progress-bar"
      role="progressbar"
      style="width: 50%"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>
